.topHeader {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
  padding: {
    left: 0;
    right: 0;
  }
}
.topLeftMenu ul,
.topRightMenu ul {
  li {
    a {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #6a983c;
    }
  }
  li:hover > a {
    color: #151515;
  }
}
