// Color Variables
$primaryColor: #6a983c;
$primaryColor2: #46760a;
$primaryColor3: #92c064;
$primaryColor4: #c8deb3;
$primaryColor5: #f4f8ec;

$secondaryColor: #151515;
$secondaryColor2: #575757;
$secondaryColor3: #a9a9a9;
$secondaryColor4: #d1d1d1;
$secondaryColor5: #ebebeb;

$additionalColor: #d0a866;
$additionalColor2: #e5704b;
$additionalColor3: #37d0d6;
